.Notifications{
    border: 2px dashed #E0354B;
    padding: 24px 8px;
    margin-top: 16px;
}
.menuItem{
    text-align: right;
}

.Notifications button {
    background-color: transparent;
    border: none;
}
.Notifications button img{
    width: 12px;
    height: 12px;
}
.Notifications ul{
    margin-left: 32px;
    margin-top: 16px;
    margin-right: 72px;
}
.Notifications ul li[data-notification-type='default'] {
    color: blue;
}
.Notifications ul li[data-notification-type='urgent'] {
    color: red;
}